
@import 'postThumb';
@import 'mainPage';
@import 'teamPage';
@import 'header';
@import 'milestones';
@import 'themeVars';



body {
  font-family: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
      
  }
  p {
    font-family: Mohave;
    font-weight: 400;
    font-size: 20px;
    font-stretch: ultra-condensed;
    line-height: 27.8px;
    .bold {
      font-weight: 700;
    }
  }
}