
@import 'postThumb';
@import 'header';
@import 'homePage';
@import 'teamPage';
@import 'milestones';
@import 'themeVars';
@import 'map';
@import 'faq';
@import 'postIndex';



body {
  font-family: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
      
  }
  p {
    font-family: $theme-font3;
    font-weight: 400;
    font-size: 20px;
    font-stretch: ultra-condensed;
    line-height: 27.8px;
    .bold {
      font-weight: 700;
    }
  }
}



@media screen and (min-width: 2600px) {
#root {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.App {
  width: 2600px;
}
}