@import 'themeVars';

#header-container {
    display: flex;
    flex-direction: column;
    background-color: $themeColor-Grey;
    align-items: center;
    margin-top: 0px;
    box-shadow: $theme-box;
}

.header-link-list {
    justify-self: center;
    align-items: center;
    padding: 0px 40px;
    width: $max-width;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

// .header-link-list li {
//     list-style: none;
//     font-size: 24px;
//     line-height: 29px;


// }



.header-link {
    font-family: $theme-font3;
      list-style: none;
    font-size: 24px;
    line-height: 29px;
    color: $themeColor-Darkest;
    font-style: normal;
    text-decoration: none;


}

.header-link:hover {
    cursor: pointer
}

.logo-top {
    font-size: 40px;
    font-family: $theme-font;
    color: $themeColor-Light;
}

.logo-top {
    // background-image: url('../../assets//images/home-background.png');
    // background-position: center center;
    // background-size: 100% auto;
    // background-size:  100% auto;
    border-radius: 200px;
    border: 4px solid $themeColor-GreyLow;
    // min-height: 80%;
    background-repeat: no-repeat;
    justify-content: center;
    // width: 100%;
    width: auto;
    
    height: 150px;
    margin: 10px;
    // display: flex;
    // flex-direction: column;
    flex-direction: row;
    // justify-content: stretch;
}