@import 'themeVars';



.home-page-container > div {
    padding: 0px;
    // flex-direction:column;
    margin-top: 20px;
    display: flex;
    // flex-direction: column;
    align-items: center;
    box-shadow: $theme-box;
    div {
        display: flex;
        flex-direction: row;
        // div {
        //     display: flex;
        // flex-direction: column;
        // }
    }
      .gmnoprint {
    
display:none;
}
}
.pillar-list {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
        font-size: 30px;
        // font-style: Bo;
        max-width: 600px;
        text-align:center;
        margin-bottom: 20px;
        color: $themeColor-Darkest;
        font-family: $theme-font;
    }

    p {
        font-size: 35px;
        font-family: $theme-font;
        color: $themeColor-Light;
        text-align: center;
    }
}

.no_reading_time {
    .rt-reading-time {
        visibility: hidden;
    }
}

.home-page-banner {
    background-image: url('../../assets//images/home-background.png');
    background-position: center center;
    background-size: 100% auto;
    // background-size:  100% auto;
    
    // min-height: 80%;
    background-repeat: no-repeat;
    justify-content: center;
    // width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 0px;
    // display: flex;
    // flex-direction: column;
    flex-direction: row;
    // justify-content: stretch;
    
    div {
        background-color: rgba(241, 222, 217, .6);
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-self: stretch;
        // align-items: stretch;
        width: 100%;
    // height: 100%;
    div {
        max-width: $max-width;
        display: flex;
        
        flex-direction: column;
        padding: 40px;
        background-color: transparent;
    }
  
    }
 
}

.home-page-body {
    div {
        max-width: $max-width;
    }

    h2 {
        max-width: $max-width;
    }

    p {
        max-width: $max-width;
    }
    ul {
        max-width: $max-width;
    }


}


@media screen and (max-width: 1700px) {
.home-page-banner {
    background-size: auto 100%;
 }
}

.home-page-body {
    background-color: $themeColor-Dark;
    display:flex;
    flex-direction: column;
}

.home-page-body-header {
    margin-bottom: 0px;
    // padding: 0px 40px;
    // padding-bottom: 0px;
    color: $themeColor-Light;
    font-size: 50px;

}
.home-page-body-text {
    padding: 40px;
}

.home-page-header {
    
    color: $themeColor-Darkest;
    z-index: 2;
    font-size: 64px;
    text-align: left;
    line-height: 84px;
    font-weight: 300;
    
    .bold {
        font-weight: 800;
    }
    // background-color: rgba(241, 222, 217, .6)
}

.home-page-banner > p {
    z-index: 2;
}
.home-page-pillars{


}

.value-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
        display: flex;
        margin: 40px 40px;
        flex-direction: column;
        justify-content:center;
        font-size: 25px;
        font-family: $theme-font;
        color: $themeColor-Light;
        background-color: $themeColor-Darkest;
        border: 2px solid $themeColor-Grey;
        border-radius: 200px;
        height: 180px;
        width: 180px;
        text-align: center;

    }
}