@import 'themeVars';

.map {
    // padding: 4px;
    margin: 40px 0px;

    display: flex;
    flex-direction: column;
    background-color: $themeColor-lightGrey;
    div {
        width: 1000px ;
        height:500px ;
        position: relative;
        padding-bottom: 40px;
    }
}


.map-wrapper {
    width: 100%;
    // padding: 40px;
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#map {
    height: 500px;
    width: 1000px;
    div {
        width: 400px;
        height: 400px;
    }
}

.gmnoprint {
    display: 'none';



}
