@import 'themeVars';

.modal_background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(85, 85, 85, 0.281);
  z-index: 10;
}

.modal_child {
  position: relative;
  padding: 30px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border-radius: 2px 2px 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}

.modal_container {
  display: flex;
  flex-direction: column;
  

}

.modal_top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 32px;
  padding-right:32px;
  padding-top: 14px;
  padding-bottom: 8px;
  align-content: center;
  
}