@import 'themeVars';

.post-wrapper {
    background-color: $themeColor-Dark;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: $theme-box;
  
}



.post-top {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 padding: 40px;
 align-items: center;
  h3 {
        margin-left: 20px;

    }
    img {
        margin-right: 20px;
    }
}

@media screen and (max-width: 800px) {

    .post-top {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding: 40px;
 align-items: center;
  h3 {
        margin-top: 20px;

    }
    img {
        margin-bottom: 20px;
    }
}
}

.post-title {
    width: 350px;
    text-overflow: wrap;
    font-size: 30px;
}

.post-header-image {
    height: auto;
    width: 350px;
    height: 350px;
    border-radius: 200px;
        border: 4px solid $themeColor-Grey;
    object-fit: cover;
    margin:0px;
    
}


.post-excerpt {
    p {
        padding: 40px;
        background-color: $themeColor-GreyLow;
    }
}

.post-content {
    padding: 40px;


    img {
        border: solid grey 2px;
    }

    p {
        text-overflow: wrap;
        padding: 20px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        // justify-content: center;
        justify-content: space-around;
        svg {
            height: 60px;
            width:auto;
            padding: 20px;
        }
        svg:hover {
            fill: $themeColor-Light;
        }
    }
}



.alignright {
    // justify-self: flex-end;
    // align-self: flex-end;
    float:right;
    // width: autop;
    // paddin
    // max-width: 50%;
    
}
.alignleft {
    // justify-self: flex-end;
    // align-self: flex-end;
    float:left;
    // width: 300px;
    
    
}


.post-content p:nth-child(1) {
    em{ 
        font-style: none;
    }
    padding: 40px;
    font-size: 30px;
    font-style: bold;
}

.wp-block-image {
    display: flex;
// flex-direction: center;
// width: 300px;
align-items: center;
max-width: 50%;
justify-content: center;
figcaption {
    max-width: 100%;
}

img{
    width: 100%;
    height: auto;
}
}

figcaption {
    text-align: center;
}


.blocks-gallery-grid {
    padding:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .blocks-gallery-item {
        display:flex;

        width: 50%;
        height: auto;
        align-items: center;
        figure {
            width: 100%;
            align-items: center;
            img {
                max-width: 100%;
            
                height: auto;
            }
        }
    }

}