@import url("https://use.typekit.net/jio3qqh.css");

$themeColor-Darkest: #D8E4E4;
$themeColor-Light:#183444;
$themeColor-Dark: #408C8C;
$themeColor-Mid: #A8DCC4;
$themeColor-GreyLow:#F8B444;
$themeColor-lightGrey: #D8E4E4;
$themeColor-Grey: #F05C64;
$theme-font: report, sans-serif;
$theme-font2: report, sans-serif;
$theme-font3: atten-new, sans-serif;
$theme-box:  0px 40px 0px 0px rgba(0, 0, 0, 0.022);
$max-width: 1000px;