@import url("https://use.typekit.net/jio3qqh.css");

$themeColor-Light: #e7e6e0;
$themeColor-Darkest:#113245;
$themeColor-Dark: #03878f;
$themeColor-Mid: #68c6a4;
$themeColor-GreyLow:#f2b531;
$themeColor-lightGrey:#C4C4C4;
$themeColor-Grey: #ed5958;
$theme-font: tablet-gothic, sans-serif;
$theme-font2: 'Lato', sans-serif;
$theme-font3: input-sans-compressed, sans-serif;
$theme-box:  0px 40px 0px 0px rgba(0, 0, 0, 0.022);
$max-width: 1000px;