@import url("https://use.typekit.net/jio3qqh.css");

$themeColor-Light: white;
$themeColor-Dark:rgba(106,161,161,1);
$themeColor-Mid: rgba(241,222,217,1);
$themeColor-Grey: rgba(115,115,115,1);
$themeColor-lightGrey:#C4C4C4;
$theme-font: 'Gothic A1', sans-serif;
$theme-font2: 'Lato', sans-serif;
$theme-font3: input-sans-compressed, sans-serif;